/* constants start */

:root {
  --HEADER_COLOR: rgba(255,255,255,255);
  --LIGHTBLUE_COLOR: rgba(209,230,254,255);
  --OFFWHITE_COLOR: rgba(209,230,254,255);
  --DEEPPURPLE_COLOR: rgb(8,12,28);
  --LIGHTPURPLE_COLOR: #38456C;

}

/* constands end */

@font-face {
  font-family: "AxiformaBold";
  src: url(fonts/Axiforma-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "AxiformaLight";
  src: url(fonts/Axiforma-Light.ttf) format("truetype");
  font-style: normal;
}


body {
  background-color:var(--DEEPPURPLE_COLOR);
  line-height: 125%;
}

.top-buffer {
  margin-top:100px;
}

.top-bufferExperience {
  margin-top:12px;
}

.nameSection {
  border: 1px solid white;
  text-align: left;
}

#nameHeader {
  font-family: "AxiformaBold", Helvetica;
  color:var(--HEADER_COLOR);
  font-size: 36px;
  line-height: 135%;
}

#positionHeader {
  font-family: "AxiformaBold", Helvetica;
  color:var(--LIGHTBLUE_COLOR);
  font-size: 30px;
  line-height: 135%;
}

#nameInner {
  font-family: "AxiformaLight", Helvetica;
  color:rgba(219,221,231,255);
  font-size: 17px;
  line-height: 140%;
}

.customHorizontalRule {
  border: 1px solid #37456c;
  border-radius: 5px;
}

#aboutMeHeader {
  font-family: "AxiformaBold", Helvetica;
  color:ghostwhite;
  font-size: 28px;
}

#aboutMeParagraph {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 175%;
}

#experienceHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
}

#schreiberHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 19px;
  line-height: 90%;
}

#schreiberList {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 175%;
}

#experienceList {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 175%;
}

#skillsHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
}

.skill {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 19px;
  line-height: 175%;
  border: 2px solid var(--LIGHTPURPLE_COLOR);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 300%;
  border-radius: 7px;
}

#projectHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
}

#contactHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
}

#contactInner {
  font-family: "AxiformaLight", Helvetica;
  color:rgba(219,221,231,255);
  font-size: 17px;
  line-height: 140%;
}

.card-body {
  font-family: "AxiformaBold", Helvetica;
  color:white;
}

.cardBuffer {
  padding-bottom: 25px;
}

.footerBuffer {
  margin-top:20px;
}

#mailButton {
  font-family: "AxiformaBold";
  font-size: 24px;
}

/* custom css for btn-primary to change default color and hover  color */
.btn-primary {
  color: white;
  background-color: #0c2d98;
  border-color: #0c2d98;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: #0e5bea;
  border-color: #0e5bea;
}