/* constants start */

:root {
  --HEADER_COLOR: rgba(255,255,255,1);
  --LIGHTBLUE_COLOR: rgba(209,230,254,1);
  --OFFWHITE_COLOR: rgba(234,227,213,1);
  --DEEPPURPLE_COLOR: rgba(8,12,28,1);
  --LIGHTPURPLE_COLOR: #38456C;

}

/* constands end */

/* fonts start */

@font-face {
  font-family: "AxiformaBold";
  src: url(fonts/Axiforma-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "AxiformaLight";
  src: url(fonts/Axiforma-Light.ttf) format("truetype");
  font-style: normal;
}

/* fonts end */

/* start custom elements */

.customHorizontalRule {
  border: 1px solid #37456c;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 55px;
}

.customHorizontalRuleProject {
  border: 1px solid #37456c;
  border-radius: 5px;
  margin-bottom:55px;
}

/* end custom elements */

body {
  background-color:var(--DEEPPURPLE_COLOR);
  line-height: 125%;
}

#nameSection {
  margin-top:100px;
}

#nameHeader {
  font-family: "AxiformaBold", Helvetica;
  color:var(--HEADER_COLOR);
  font-size: 36px;
  line-height: 135%;
}

#positionHeader {
  font-family: "AxiformaBold", Helvetica;
  color:var(--LIGHTBLUE_COLOR);
  font-size: 30px;
  line-height: 135%;
}

#nameInner {
  font-family: "AxiformaLight", Helvetica;
  color:rgba(219,221,231,255);
  font-size: 17px;
  line-height: 140%;
}

/* -- new section -- */

#aboutMeHeader {
  font-family: "AxiformaBold", Helvetica;
  color:ghostwhite;
  font-size: 28px;
  margin-bottom: 20px;
}

.aboutMeParagraph {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 175%;
}

/* -- new section -- */

#experienceHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
  margin-bottom: 20px;
}

#schreiberHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 19px;
  line-height: 90%;
  margin-bottom: 20px;
}

#schreiberList {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 65%;
}

#experienceList {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 175%;
}

/* -- new section -- */

#skillsHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
  margin-bottom: 20px;
}

.skill {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 19px;
  line-height: 175%;
  border: 2px solid var(--LIGHTPURPLE_COLOR);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 300%;
  border-radius: 7px;
}

/* -- new section -- */

#projectHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
  margin-bottom: 20px;
}

.card-body {
  font-family: "AxiformaBold", Helvetica;
  color:white;
}

.cardBuffer {
  padding-bottom: 25px;
}

.card-container {
  position: relative;
  border: 3px solid #38456C;
}

.blur-image {
  position: relative;
}

.blur-image img {
  width: 100%;
  filter: blur(0); /* Initialize blur to 0 (no blur) */
  transition: filter 0.3s; /* Add a smooth transition for the blur effect */
}

.card-container .centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "AxiformaBold";
  color: white;
  font-size: 19px;
  line-height: 125%;
  z-index: 2; /* Place the text above the blur effect */
  pointer-events: none;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s; /* Add a smooth opacity transition */
}

.card-container:hover .blur-image img {
  filter: blur(5px); /* Apply a blur effect to the image on hover */
}

.card-container:hover .centered-text {
  opacity: 1; /* Show the text on hover */
}

/* -- new section -- */

#contactHeader {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
  margin-bottom: 20px;
}

#contactInner {
  font-family: "AxiformaLight", Helvetica;
  color:rgba(219,221,231,255);
  font-size: 17px;
  line-height: 140%;
}

.buttonBuffer {
  margin-top: 10px;
}

#mailButton {
  font-family: "AxiformaBold";
  font-size: 1.5vw;
}

#resumeButton {
  font-family: "AxiformaBold";
  font-size: 1.5vw;
}

#mailButtonSm {
  font-family: "AxiformaBold";
  font-size: 3vw;
}

#resumeButtonSm {
  font-family: "AxiformaBold";
  font-size: 3vw;
}

/* custom css for btn-primary to change default color and hover  color */
.btn-primary {
  color: white;
  background-color: #0c2d98;
  border-color: #0c2d98;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: #0e5bea;
  border-color: #0e5bea;
}

/* -- modals -- */

.footer {
  margin-top:120px;
  margin-bottom: 45px;
}

.modal-content {
  background: linear-gradient(to bottom left, #000080, var(--LIGHTPURPLE_COLOR));
  border: 2px solid black;
}

.modal-header {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 38px;
  border: rgba(255, 255, 255, 0.3);
}

.modal-title {
  font-size: 40px;
}

.modal-body {
  font-family: "AxiformaLight", Helvetica;
  color:white;
  font-size: 21px;
  line-height: 1.6;
}

.modal-footer {
  font-family: "AxiformaBold", Helvetica;
  color:white;
  font-size: 28px;
  border: rgba(255, 255, 255, 0.3);
}

.object-fit-cover {
  object-fit: cover; /* Ensure the image covers the area without losing its aspect ratio */
}

.modal-pic {
  border: 2px solid rgba(255,255,255,0.1);
}

